<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="#" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="static\css\estiloslogin.css">
    <link rel="stylesheet" type="text/css" href="fuentes/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="static\css\estiloslogins.css">
</head>
<style>
    a {
        text-decoration: none;
    }

    #cabecera {
        width: 100%;
        height: 80px;
        
    }

   
</style>

<body>

    
    <video scr="videos\vid.mp4" autoplay loop> </video>

    <section id="sect1" class="sect" style=" width:2000px;height:800px" >
        <video src="https://carontestudio.com/img/f4.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
        
    <center> <div id="cabecera">
       
            <script src="codigojs.js"></script>
            <div class="logins">
                <div class="container-login">
                    <div class="wrap-login">
                        <form class="login-form validate-form" id="formLogin1" action="\Docentes" method="post">
                            <span class="login-form-title">LOGIN</span>
    
    
                            <div class="wrap-input100" data-validate="Usuario incorrecto">
                                <input class="input100" type="text" id="usuario" name="usuario" placeholder="Usuario">
                                <span class="focus-efecto"></span>
                            </div>
    
    
                            <div class="wrap-input100" data-validate="Password incorrecto">
                                <input class="input100" type="password" id="password" name="password"
                                    placeholder="Password">
                                <span class="focus-efecto"></span>
                            </div>
    
    
                            <div> <a href="\Docentes">Registrar docente</a></div>
    
                            <div class="container-login-form-btn">
                                <div class="wrap-login-form-btn">
                                    <div class="login-form-bgbtn"></div>
                                    <div> <a  class="login-form-btn btn-primary" href="\paralelos">INGRESAR</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div></center> 
    
      </section>
    

        

    
       
        <script src="jquery/jquery-3.3.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="popper/popper.min.js"></script>
        <script src="plugins/sweetalert2/sweetalert2.all.min.js"></script>
</body>
<style>
    body {
  margin: 0;
}
.sect {
  width: 2000%;
  height: 800px;
}

#sect1 {
  position: relative;
  overflow: hidden;
}
video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}
</style>
</html>