<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>ALUMNOS</title>
	<link rel="icon" href="niño.png">

	<link rel="stylesheet" href="static\css\estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

	<script src="js/jquery-3.2.1.js"></script>
	<script src="static\js\script.js"></script>
</head>

<body>

	<div class="wrap">
		<h1> ESCUELA PEQUEÑOS GIGANTES</h1>
		<div class="store-wrapper">
			<div class="category_list">
				<a href="\" class="category_item" category=" ALUMNOS "> ALUMNOS</a>
				<a href="\index" class="category_item" category="REGISTRAR ALUMNO">REGISTRAR ALUMNO</a>
				<a href="\loginD" class="category_item" category="SALIR">SALIR</a>
			</div>

			<pre><div class="”video-responsive”">
				<iframe width="620" height="515" src="https://www.youtube.com/embed/watch?v=qmcqSa29a48" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
				</div>
				<pre>


		</div>
	</div>

</body>
</html>